div#top{
    background-color: rgb(209, 209, 209);
    padding: -5%;
    justify-content: center;
    width: 46%;
    display: flex;
    margin: auto;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
div#front{
    background-color: rgb(209, 209, 209);
    box-shadow: 10px 10px 30px  rgba(0, 0, 0, 0.836);
    border-radius: 9px;
    width: 90% max-content 80% min-content;
    height: 510px;
    display: flex;
    margin: auto;
    justify-content: center space-between space-around ;
}
button{
    width:100%;
    padding: 10px;
    height: 0%;
    font-size: medium;
}
body{
    height: 100vh;
    background-image: url(bola-de-futebol-de-campo-de-futebol-na-grama-verde_34263-97.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana;
}
ul#list1{
    font-size: 100%;
    background-color: rgba(77, 76, 76, 0.438);
    font-weight: 100px;
    padding: 5%;
    margin: auto;
    list-style: none;

}
ul#list2{
    font-size: 100%;
    background-color: rgba(77, 76, 76, 0.438);
    font-weight: 100px;
    padding: 5%;
    margin: auto;
    justify-content: last baseline;
    list-style: none;
    /*float: left;*/
}
.butt{
    margin: -1%;
    width: 100%;
    
}
/*div{
    padding: 10px;
    margin: auto;
    border: 4px;
    align-content: center;
}*/
h1{
    text-align: center;
    font-size: xx-large;
}
h2{
    text-align: center;
}
h2#left{
    color: rgb(9, 179, 9);
}
h2#right{
    color: rgb(255, 0, 0);
}
div#img{
    justify-content: center;
    float: none;
    width: 80%;
    height: 510px;
    background-color: rgb(58, 126, 80) ;
}
img{
    justify-content: center;
    border-radius: 16%;
    height: 100%;
}
div#esqerd{
    width: 100%;
    
}
div#direit{
    width: 100%;
}