div#top{
    background-color: rgb(255, 255, 255);;
    padding: -5%;
    justify-content: center;
    width: 46%;
    display: flex;
    margin: auto;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
div#front{
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 30px  rgba(0, 0, 0, 0.836);
    border-radius: 9px;
    width: 100%;
    height: 520px;
    display: flex;
    margin: auto;
    justify-content: space-around, justify;
    
}

body{
    background-image: url(heartbal.png);
    background-attachment: cover;
    font-family: Verdana;
    font-weight: 100;
}
.butt{
    display: flex;
    height: 40px;
    justify-content: space-between;
}
.addBtn{
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    text-align: center;
    background-color: green;
    border-radius: 15px;
    border: none;
    color: white;
    display: none;
}
.spans{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 0px 30px 0px 30px;
    justify-content: space-between;
    border: 1px solid rgba(170, 170, 170, 0.377);
}
.spans > p{
    align-self: center;
}


.lists{
    padding: 0;
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.spans:hover{
    background-color: rgb(214, 214, 214);
}

/*div{
    padding: 10px;
    margin: auto;
    border: 4px;
    align-content: center;
}*/
h1{
    text-align: center;
    
}
h2{
    text-align: center;
}
h2#left{
    color: rgb(9, 179, 9);
}
h2#right{
    color: rgb(255, 0, 0);
}
div#img{
    justify-self: justify;  
    width: 100%;
    height: 520px;
    background-color: rgb(58, 126, 80) ;
}
img{
    border-radius: 16%;
    height: 100%;
}
div#esqerd{
    width: 100%;
    height: 90%;
    
}
div#direit{
    width: 100%;
    
}